.body{
    margin: 0px;
}

.div1{
    background-color: rgb(75, 144, 148); 
    font-family: sans-serif;
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 15px;
}
.nav1{
    display: flex;
    font-family: sans-serif;
    justify-content: space-around;
    color: black;
    text-decoration: none;
}
.courier{
    font-size: 30px;
    font-weight: bold;
    margin-top: -10px;
}
.button{
    cursor: pointer;
     background-color: rgb(75, 144, 148);
     color: white;
      border-radius: 5px;
width: 150px;
height: 40px;  
     
}

.login{
    margin-top: -10px;
}
.page1{
 display: flex;
 justify-content: space-around;
 font-family: sans-serif;
 font-weight: bold;
 margin-top: 80px;
}
.content{
    display: flex;
}
.Transport{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 60px 0px 0px -20px;
    background-color: rgb(225, 225, 233);
    padding: 20px;
}
.Transport >div{
    text-align: center;

}
.display{
    margin: 0px 0px 0px -20px;
}
.hover :hover{
    border-bottom: 2px;
}
.button2{
    cursor: pointer;
    padding: 20px;

}
.input{
    display: inline;
    padding: 4px;
    margin-top: -10px ;
    
}
.origin{
    display: flex;
    flex-direction: column;
    margin: 90px 100px 0px -450px;
    
}
.h3{
text-align: center;
padding: 100px;
}
.products{
    display: flex;
    justify-content: space-between;

}
.page2{
    text-align: center;
    color:rgb(127, 180, 282) ;
    font-family: sans-serif;
    font-size: 20px;
    padding: 50px;
}
.pg2{
    text-align: center;
    font-family: sans-serif;
    font-size: 50px;
    font-weight: bold;
}
.pg2h3{
    text-align: center;
    font-family: sans-serif;
    font-size: 15px;
}
.flex{
    display:flex;
    flex-direction: row;
    
    justify-content: space-between;

    padding: 50px;
}
.flex1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px;
}